body { font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif; font-size: 12px; margin: 0; padding: 1em; }
a img { border: none; }
img { vertical-align: text-bottom; }

/* Tables */
table  { border-collapse: collapse; width: 100%; }
td, th { padding: .2em .5em; border: 1px solid #999; }
td p.description { margin: 0; }

/* Common formatting */
.odd { background-color: #e9e9f9; }
.even { background-color: #e3e3f3; }
.module { border: 1px solid #ccc; margin-bottom: 5px; background-color: #fff; }
.no-margin { margin: 0; }
.module h2, .module caption { margin: 0; padding: 2px 5px 3px 5px; font-size: 11px; text-align: left; font-weight: bold; background: #595979 url("../img/module-bg.gif") top left repeat-x; color: #fff; border-bottom: 0; }
.clear { clear: both; }

/* Navigation elements */
#userbar { padding: 0 0 4px 0; overflow: hidden; }
#authenticated { float: left; }
  #authenticated a.user { font-weight: bold; }
#user-tools { float: right; }
#breadcrumbs { padding: 4px 0; }
p.description { font-style: italic; }

div.tools { overflow: hidden; padding: 4px 0; }
div.paginator { float: left; }
div.topic-actions { float: right; }

h1 { margin: .25em 0 .5em 0; }

/* Posts */
div.post { overflow: hidden; padding: 0 10px; }
  div.postbody { float: left; width: 76%; clear: both; padding-top: 4px; }
    div.postbody ul.post-actions { float: right; margin: 0; padding: 0; }
    div.postbody ul.post-actions li { list-style-type: none; float: left; margin-left: 10px; }
    p.author { margin: 0 0 .5em 0; }
  div.profile { border-left: 1px solid #fff; float: right; width: 22%; margin: 8px 0; }
    div.profile dl { margin-top: 0; margin-bottom: 0; }
    div.profile dd, div.profile dt { margin-left: 8px; }
    div.profile dd.postcount { margin-top: 1em; }

/* Forms */
fieldset { padding: 0; margin-left: 0; margin-right: 0; }
.form-row { height: 100%; overflow: hidden; padding: 8px 12px; border-bottom: 1px solid #eee; border-right: 1px solid #eee; }
.form-row img, .form-row input { vertical-align: middle; }
.aligned label { padding: 0 1em 3px 0; float: left; width: 9em; }
.checkbox-row label { pading: 0 0 3px 0; float: none; width: auto; }
.form-field { float: left; }
.avatar-field input, .avatar-field img { vertical-align: top; }
.post-preview .body { padding: 0 12px; }
#fast-reply { width: 70%; margin: 1em auto 0 auto; }
  .fast-reply-field { padding: 8px 12px; }
  .fast-reply-field textarea { width: 98.5%; margin: 0; padding: 3px; }
  #fast-reply .buttons { text-align: center; }

#footer { clear: both; margin-top: 1.5em; padding: .5em 0; }

#debug { clear: both; }