Django==1.2.7
django-debug-toolbar==0.8.5
-e hg+https://bitbucket.org/ubernostrum/django-registration#egg=registration
markdown2==1.0.1.19
pil==1.1.7
postmarkup==1.1.4
Pygments==1.4
pytz==2011k
redis==2.4.10