{% extends "base_forum.html" %}{% load i18n %}
{% block title %}{% trans "Password change" %}{% endblock %}
{% block content_title %}<h1>{% trans "Password change" %}</h1>{% endblock %}
{% block main_content %}
<p class="description">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
<form action="." method="POST">
<dl>
<dt><label for="id_old_password">{% trans "Old password:" %}</label></dt>
<dd>{{ form.old_password }} {% if form.old_password.errors %} <span class="error">{{ form.old_password.errors|join:", " }}</span>{% endif %}</dd>
<dt><label for="id_new_password1">{% trans "New password:" %}</label></dt>
<dd>{{ form.new_password1 }} {% if form.new_password1.errors %} <span class="error">{{ form.new_password1.errors|join:", " }}</span>{% endif %}</dd>
<dt><label for="id_new_password2">{% trans "Confirm password:" %}</label></dt>
<dd>{{ form.new_password2 }} {% if form.new_password2.errors %} <span class="error">{{ form.new_password2.errors|join:", " }}</span>{% endif %}</dd>
<dt><input type="submit" value="{% trans "Change my password" %}"></dt>
</dl>
</form>
{% endblock %}