{% extends "base_forum.html" %}{% load i18n %}
{% block title %}{% trans "Password reset successful" %}{% endblock %}
{% block breadcrumbs %}
<a href="{% url forum_index %}">{% trans "Forums" %}</a>
&raquo; <strong>{% trans "Password reset successful" %}</strong>
{% endblock %}
{% block content_title %}<h1>{% trans "Password reset successful" %}</h1>{% endblock %}
{% block main_content %}
<p>{% trans "We've e-mailed a new password to the e-mail address you submitted. You should be receiving it shortly." %}</p>
{% endblock %}