{% extends "forum/base.html" %}{% load forum_tags %}
{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}forum/js/PostForm.js"></script>
{% endblock %}
{% block breadcrumbs %}
<a href="{% url forum_index %}">Forums</a>
&raquo; <a href="{{ section.get_absolute_url }}">{{ section.name|escape }}</a>
&raquo; <a href="{{ forum.get_absolute_url }}">{{ forum.name|escape }}</a>
&raquo; <strong>Add Topic</strong>
{% endblock %}
{% block main_content %}
{% if preview %}
<div class="module post-preview">
  <h2>Topic Preview</h2>
  <div class="body">
  {{ preview|safe }}
  </div>
</div>
{% endif %}
<form name="addTopicForm" id="addTopicForm" action="." method="POST">
{% csrf_token %}
  <fieldset class="module aligned">
    <h2>Topic</h2>
    <div class="form-row">
      {% if topic_form.title.errors %}{{ topic_form.title.errors.as_ul }}{% endif %}
      {{ topic_form.title.label_tag }}
      <div class="form-field">
        {{ topic_form.title }}
      </div>
    </div>
    <div class="form-row">
      {% if topic_form.description.errors %}{{ topic_form.description.errors.as_ul }}{% endif %}
      {{ topic_form.description.label_tag }}
      <div class="form-field">
        {{ topic_form.description }}
      </div>
    </div>
  </fieldset>
  <fieldset class="module aligned">
    <h2>Opening Post</h2>
    <div class="form-row">
      {% if post_form.body.errors %}{{ post_form.body.errors.as_ul }}{% endif %}
      <div class="form-field post-body-field">
        {{ post_form.body }}
      </div>
      {% emoticon_help %}
    </div>
    <div class="form-row checkbox-row">
      {% if post_form.emoticons.errors %}{{ post_form.emoticons.errors.as_ul }}{% endif %}
      <label for="id_emoticons">{{ post_form.emoticons }} Enable emoticons</label>
    </div>
  </fieldset>
  <div class="buttons">
    <input type="submit" name="submit" value="Add Topic">
    <input type="submit" name="preview" value="Preview Topic">
    or
    <a href="{{ forum.get_absolute_url }}">Cancel</a>
  </div>
</form>
{% endblock %}