{% extends "forum/base.html" %}{% load forum_tags %}
{% block main_content %}
<p class="description">Are you sure you want to delete the <strong>{{ forum.name }}</strong> forum?</p>
{% if topic_count %}
<p>This will result in the deletion of its {{ topic_count }} topic{{ topic_count|pluralize }} and all {{ topic_count|pluralize:"its,their" }} posts.</p>
{% endif %}
<form name="deleteSectionForm" id="deleteForumForm" action="{% url forum_delete_forum forum.id %}" method="POST">
{% csrf_token %}
<div class="buttons">
  <input type="submit" value="Confirm Deletion">
  or
  <a href="{{ forum.get_absolute_url }}">Cancel</a>
</form>
{% endblock %}