{% extends "forum/base.html" %}{% load forum_tags %}
{% block main_content %}
{% if user|is_admin %}
<div class="tools">
  <div class="actions">
    <a href="{% url forum_add_section %}">Add Section</a>
  </div>
</div>
{% endif %}
{% for section,forum_list in section_list %}
<div class="module">
<h2><a href="{{ section.get_absolute_url }}">{{ section.name }}</a></h2>
{% if forum_list %}
<table>
<col width="65%">
<col width="1%">
<thead>
  <tr>
    <th>Forum</th>
    <th>Topics</th>
    <th>Last Post</th>
  </tr>
</thead>
<tbody>
{% for forum in forum_list %}
  <tr class="forum {% cycle odd,even %}">
    <td>
      <a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a>
      {% if forum.description %}<p class="description">{{ forum.description }}</p>{% endif %}
    </td>
    <td>{{ forum.topic_count }}</td>
    <td class="last-post">{% if forum.last_post_at %}
      <a href="{% url forum_redirect_to_last_post forum.last_topic_id %}">Last post</a> {{ forum.last_post_at|post_time:user }}<br>
      <strong>In:</strong> <a href="{% url forum_topic_detail forum.last_topic_id %}">{{ forum.last_topic_title }}</a><br>
      <strong>By:</strong> <a href="{% url forum_user_profile forum.last_user_id %}">{{ forum.last_username }}</a>
    {% else %}N/A{% endif %}</td>
  </tr>{% endfor %}
</tbody>
</table>
{% else %}
<div class="module-body">
This Section does not have any Forums yet.
</div>
{% endif %}
</div>
{% endfor %}

{% if redis and active_users %}
<div class="module module-body" id="stats">
<div id="active-users">
<h3>{{ active_users|length }} active user{{ active_users|length|pluralize }} <span class="since">(in the last 30 minutes)</span></h3>
<p>{% for active_user, last_seen in active_users %}
<a href="{% url forum_user_profile active_user.id  %}" title="{{ last_seen|time:"g:i A"}}">{{ active_user.username }}</a>{% if not forloop.last %}, {% endif %}
{% endfor %}</p>
</div>
</div>
{% endif %}
{% endblock %}