{% extends "forum/base.html" %}{% load forum_tags %}
{% block main_content %}
{% if user|is_admin %}
<div class="tools">
  <div class="actions">
    <a href="{% url forum_add_forum section.id %}">Add Forum</a>
  </div>
</div>
{% endif %}
<div class="module">
<h2><span class="title">{{ section.name }}</span>{% if user|is_admin %}<span class="separator"> - </span><span class="controls"><a href="{% url forum_edit_section section.id %}">Edit Section</a> | <a href="{% url forum_delete_section section.id %}">Delete Section</a></span>{% endif %}</h2>
{% if forum_list %}
<table>
<col width="65%">
<col width="1%">
<thead>
  <tr>
    <th>Forum</th>
    <th>Topics</th>
    <th>Last Post</th>
  </tr>
</thead>
<tbody>
{% for forum in forum_list %}
  <tr class="forum {% cycle odd,even %}">
    <td>
      <a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a>
      {% if forum.description %}<p class="description">{{ forum.description }}</p>{% endif %}
    </td>
    <td>{{ forum.topic_count }}</td>
    <td class="last-post">{% if forum.last_post_at %}
      <a href="{% url forum_redirect_to_last_post forum.last_topic_id %}">Last post</a> {{ forum.last_post_at|post_time:user }}<br>
      <strong>In:</strong> <a href="{% url forum_topic_detail forum.last_topic_id %}">{{ forum.last_topic_title }}</a><br>
      <strong>By:</strong> <a href="{% url forum_user_profile forum.last_user_id %}">{{ forum.last_username }}</a>
    {% else %}N/A{% endif %}</td>
  </tr>{% endfor %}
</tbody>
</table>
{% else %}
<div class="module-body">
This Section does not have any Forums yet.
</div>
{% endif %}
</div>
{% endblock %}