{% extends "forum/base.html" %}
{% block breadcrumbs %}
<a href="{% url forum_index %}">Forums</a>
&raquo; <a href="{% url forum_section_detail topic.section_id %}">{{ topic.section_name }}</a>
&raquo; <a href="{% url forum_forum_detail topic.forum_id %}">{{ topic.forum_name }}</a>
&raquo; <a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a>
&raquo; <strong>Post Summary</strong>
{% endblock %}
{% block main_content %}
<div class="module">
  <h2>{{ title }}</h2>
  <table>
  <col width="50%">
  <col width="50%">
  <thead>
    <tr>
      <th>User</th>
      <th>Posts</th>
    </tr>
  </thead>
  <tbody>
    {% for topic_user in users %}
    <tr class="{% cycle odd,even %}">
      <td><a href="{% url forum_user_profile topic_user.id %}">{{ topic_user.username }}</a>{% ifequal topic.user_id topic_user.id %} (Topic Starter){% endifequal %}</td>
      <td>{{ topic_user.post_count }}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}