<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <title>{% block title %}{{ title|escape }}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="Author" content="Jonathan Buchanan">
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}forum/css/style.css" media="all">
  <!--[if LT IE 7]><link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}forum/css/ie.css" media="all"><![endif]-->
  {% block extrahead %}{% endblock %}
</head>
<body>

<div id="userbar">
{% block userbar %}{% endblock %}
</div>

<div id="breadcrumbs">
{% block breadcrumbs %}{% endblock %}
</div>

<div id="content">
{% block content_title %}{% endblock %}
{% block main_content %}{% endblock %}
</div>

<div id="footer">
  <a href="http://www.jonathanbuchanan.plus.com/repos/forum/">Django Forum</a> by <a href="http://insin.webfactional.com/">Jonathan Buchanan</a>,
  <a href="http://www.djangoproject.com/"><img src="{{ MEDIA_URL }}forum/img/djangosite.gif" alt="A Django site." title="A Django site."></a>
</div>

</body>
</html>