<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <title>{% block title %}{{ title|escape }}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="Author" content="Jonathan Buchanan">
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" media="all">
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.1.4.pack.js"></script>
  {% block extrahead %}{% endblock %}
</head>
<body>

<div id="userbar">
{% if user.is_authenticated %}
  <div id="authenticated">
    Logged in as: <a class="user" href="{% url forum_user_profile user.id %}">{{ user.username|escape }}</a> (<a href="{% url auth_logout %}">Log out</a>)
  </div>
  <div id="user-tools">
    <a href="{% url forum_new_posts %}">View New Posts</a>
  </div>
{% else %}
  <div id="anonymous">
    <a href="{% url auth_login %}">Log in</a> or <a href="{% url auth_register %}">Register</a>
  </div>
{% endif %}
</div>

<div id="breadcrumbs">
{% block breadcrumbs %}
<a href="{% url forum_index %}">Forums</a>
{% if forum %}{% ifnotequal forum.name title %}&raquo; <a href="{{ forum.get_absolute_url }}">{{ forum.name|escape }}</a>{% endifnotequal %}{% endif %}
{% if topic %}{% ifnotequal topic.title title %}&raquo; <a href="{{ topic.get_absolute_url }}">{{ topic.title|escape }}</a>{% endifnotequal %}{% endif %}
{% if title %}&raquo; <strong>{{ title|escape }}</strong>{% endif %}
{% endblock %}
</div>

<div id="content">
{% block content_title %}{% if title %}<h1>{{ title|escape }}</h1>{% endif %}{% endblock %}
{% block main_content %}{% endblock %}
</div>

{% if debug %}
<div id="debug">
  <h2>Queries</h2>
  <p>
    {{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}
    {% ifnotequal sql_queries|length 0 %}
    (<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
    {% endifnotequal %}
  </p>
  <table id="debugQueryTable" style="display: none;">
    <col width="1"></col>
    <col></col>
    <col width="1"></col>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SQL</th>
      <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    {% for query in sql_queries %}<tr class="{% cycle odd,even %}">
      <td>{{ forloop.counter }}</td>
      <td>{{ query.sql|escape }}</td>
      <td>{{ query.time }}</td>
    </tr>{% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

</body>
</html>