{% extends "base_forum.html" %}
{% block main_content %}
{% if preview %}
<div class="preview">
<h2>Post Preview</h2>
<div class="body">
{{ preview }}
</div>
{% endif %}
<form name="addReplyForm" id="addReplyForm" action="{% url forum_add_reply topic.id %}" method="POST">
<table>
<tbody>
{{ form }}
</tbody>
</table>
<div class="buttons">
  <input type="submit" name="submit" value="Add Reply">
  <input type="submit" name="preview" value="Preview Post">
  <a href="{{ topic.get_absolute_url }}">Cancel</a>
</div>
</form>
{% endblock %}