{% extends "base_forum.html" %}{% load forum_tags %}
{% block main_content %}
<p class="description">Are you sure you want to delete the following topic?</p>
{% if topic.locked %}
<p class="description"><img src="{{ MEDIA_URL }}img/icon_lock.gif" alt="Locked"> This topic is locked.</p>
{% endif %}
<div class="module">
<h2>{{ topic.title|escape }}{% if topic.description %}, <span class="description">{{ topic.description|escape }}</span>{% endif %}</h2>
<div class="post odd">
  <div class="postbody">
    <div class="body">
      <p class="author"><a href="{{ post.get_absolute_url }}">#{{ post.num_in_topic }}</a> by <a href="{% url forum_user_profile post.user_id %}">{{ post.user_username|escape }}</a>, {{ post.posted_at|post_time:user }}</p>
      <div class="content">
      {{ post.body_html }}
      </div>
    </div>
  </div>
  <div class="profile">
    <dl>
      {% if post.user_avatar %}
      <dt class="avatar"><img src="{{ post.user_avatar|escape }}" alt=""{{ avatar_dimensions }}></dt>
      {% endif %}
      <dt class="user"><a href="{% url forum_user_profile post.user_id %}">{{ post.user_username|escape }}</a></dt>
      {% if post.user_title %}
      <dd class="title">{{ post.user_title|escape }}</dt>
      {% endif %}
      <dd class="postcount"><strong>Posts:</strong> {{ post.user_post_count }}</dd>
      <dd class="joined"><strong>Joined:</strong> {{ post.user_date_joined|joined_date }}</dd>
      {% if post.user_location %}
      <dd class="location"><strong>Location:</strong> {{ post.user_location|escape }}</dd>
      {% endif %}
      {% if user|is_moderator and post.user_ip %}
      <dd class="post-ip"><strong>Post IP:</strong> {{ post.user_ip|escape }}</dd>
      {% endif %}
    </dl>
  </div>
</div>
</div>

<form name="deleteTopicForm" id="deleteTopicForm" action="{% url forum_delete_topic topic.id %}" method="POST">
<div class="buttons">
  <input type="submit" value="Confirm Deletion">
  <a href="{{ topic.get_absolute_url }}">Cancel</a>
</form>
{% endblock %}