{% extends "base_forum.html" %}
{% block main_content %}
<form name="editTopicForm" id="editTopicForm" action="." method="POST">
  <fieldset class="module aligned">
    <h2>Topic</h2>
    <div class="form-row">
      {% if topic_form.title.errors %}{{ form.title.errors.as_ul }}{% endif %}
      {{ form.title.label_tag }}
      <div class="form-field">
        {{ form.title }}
      </div>
    </div>
    <div class="form-row">
      {% if form.description.errors %}{{ form.description.errors.as_ul }}{% endif %}
      {{ form.description.label_tag }}
      <div class="form-field">
        {{ form.description }}
      </div>
    </div>
  </fieldset>
  <div class="buttons">
    <input type="submit" name="submit" value="Edit Topic">
    <a href="{{ topic.get_absolute_url }}">Cancel</a>
  </div>
</form>
{% endblock %}