{% extends "base_forum.html" %}{% load forum_tags %}
{% block main_content %}
{% if preview %}
<div class="module post-preview">
  <h2>Post Preview</h2>
  <div class="body">
  {{ preview|safe }}
  </div>
</div>
{% endif %}
<form name="editPostForm" id="editPostForm" action="." method="POST">
  <fieldset class="module aligned">
    <h2>Post</h2>
    <div class="form-row">
      {% if form.body.errors %}{{ form.body.errors.as_ul }}{% endif %}
      <div class="form-field post-body-field">
        {{ form.body }}
      </div>
      {% include quick_help_template %}
    </div>
  </fieldset>
  {% if user|is_moderator %}
  <fieldset class="module aligned">
    <h2>Moderation</h2>
    <div class="form-row checkbox-row">
      {% if form.meta.errors %}{{ form.meta.errors.as_ul }}{% endif %}
      <label for="id_meta">{{ form.meta }} Metapost</label>
    </div>
  </fieldset>
  {% endif %}
  <div class="buttons">
  <input type="submit" name="submit" value="Edit Post">
  <input type="submit" name="preview" value="Preview Post">
    <a href="{{ post.get_absolute_url }}">Cancel</a>
  </div>
</form>
{% endblock %}