{% extends "forum/base.html" %}{% load forum %}
{% block content %}
<table>
<thead>
  <tr>
    <th>Forum</th>
    <th>Topics</th>
    <th>Last Post</th>
  </tr>
</thead>
<tbody>
{% for forum in forum_list %}
  <tr class="forum {% cycle odd,even %}">
    <td>
      <a href="{{ forum.get_absolute_url }}">{{ forum.name|escape }}</a>
      {% if forum.description %}<p class="description">{{ forum.description|escape }}</p>{% endif %}
    </td>
    <td>{{ forum.topic_count }}</td>
    <td>{% if forum.last_post_at %}
      <a href="{% url forum_redirect_to_last_post forum.last_topic_id %}">Last post</a> {{ forum.last_post_at|post_time }}<br>
      <strong>In:</strong> <a href="{% url forum_topic_detail forum.last_topic_id %}">{{ forum.last_topic_title|escape }}</a><br>
      <strong>By:</strong> <a href="{% url forum_user_profile forum.last_user_id %}">{{ forum.last_username|escape }}</a>
    {% else %}N/A{% endif %}</td>
  </tr>{% endfor %}
</tbody>
</table>
{% endblock %}