{% extends "forum/base.html" %}{% load forum_tags %}
{% block extrahead %}{% if is_paginated %}<script type="text/javascript" src="{{ MEDIA_URL }}js/Paginator.js"></script>{% endif %}{% endblock %}
{% block content %}
<p class="description">Topics with new posts since your last login {{ user.last_login|post_time:user }}.</p>
{% if topic_list %}
{% if is_paginated %}<div class="paginator">{% paginator "Topic" %}</div>{% endif %}
<div class="clear"></div>
<table>
<thead>
  <tr>
    <th>Topic</th>
    <th>In Forum</th>
    <th>Started By</th>
    <th>Posts</th>
    <th>Views</th>
    <th>Last Post</th>
  </tr>
</thead>
<tbody>
{% for topic in topic_list %}
  <tr class="topic {% cycle odd,even %}">
    <td>
      <a href="{{ topic.get_absolute_url }}">{{ topic.title|escape }}</a>
      {% if topic.description %}<p class="description">{{ topic.description|escape }}</p>{% endif %}
    </td>
    <td><a href="{% url forum_detail topic.forum_id %}">{{ topic.forum_name|escape }}</a></td>
    <td><a href="{% url forum_user_profile topic.user_id %}">{{ topic.user_username|escape }}</a></td>
    <td>{{ topic.post_count }}</td>
    <td>{{ topic.view_count }}</td>
    <td>{{ topic.last_post_at|post_time:user }}<br><a href="{% url forum_redirect_to_last_post topic.id %}">Last Post</a> by <a href="{% url forum_user_profile topic.last_user_id %}">{{ topic.last_username|escape }}</a></td>
  </tr>{% endfor %}
</tbody>
</table>
{% if is_paginated %}<div class="paginator">{% paginator "Topic" %}</div>{% endif %}
<div class="clear"></div>
{% else %}
<p>No posts found.</p>
{% endif %}
{% endblock %}