{% extends "base_forum.html" %}{% load forum_tags %}

{% block extrahead %}
  <script type="text/javascript">var createFastReplyControls = {{ user|can_see_post_actions:topic|yesno:"true,false" }};</script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/Topic.js"></script>
  {% if is_paginated %}<script type="text/javascript" src="{{ MEDIA_URL }}js/Paginator.js"></script>{% endif %}
{% endblock %}

{% block breadcrumbs %}
<a href="{% url forum_index %}">Forums</a>
&raquo; <a href="{% url forum_section_detail topic.section_id %}">{{ topic.section_name|escape }}</a>
&raquo; <a href="{% url forum_detail topic.forum_id %}">{{ topic.forum_name|escape }}</a>
{% if meta %}
&raquo; <a href="{{ topic.get_absolute_url }}">{{ title|escape }}</a>
&raquo; Metaposts
{% else %}
&raquo; <strong>{{ title|escape }}</strong>
{% endif %}
{% endblock %}

{% block main_content %}
{% if topic.hidden %}
<p class="description"><img src="{{ MEDIA_URL }}img/icon_exclamation.gif" alt="Hidden"> This topic is hidden.</p>
{% endif %}
{% if topic.locked %}
<p class="description"><img src="{{ MEDIA_URL }}img/icon_lock.gif" alt="Locked"> This topic is locked.</p>
{% endif %}
<div class="tools">
{% if is_paginated %}<div class="paginator">{% paginator "Post" %}</div>{% endif %}
{% if user.is_authenticated %}
<div class="actions">
  {% if user|can_see_post_actions:topic %}<a href="{{ urls.add_reply }}">Add Reply</a> |{% endif %}
  <a href="{% url forum_add_topic forum.id %}">New Topic</a>
</div>
{% endif %}
</div>
<div class="module no-margin">
<h2>
  <span class="title">{{ topic.title|escape }}{% if topic.description %}, {{ topic.description|escape }}{% endif %}</span>
  <span class="separator"> - </span><span class="controls">{% if not meta %}<a href="{{ topic.get_meta_url }}">View Metaposts</a>{% endif %}{% if user|can_edit_topic:topic %}{% if not meta %} | {% endif %}<a href="{% url forum_edit_topic topic.id %}">Edit Topic</a> | <a href="{% url forum_delete_topic topic.id %}">Delete Topic</a>{% endif %}</span>
</h2>
{% for post in post_list %}
<div class="post {% cycle odd,even %}" id="post{{ post.id }}">
  <div class="postbody">
    {% if user|can_see_post_actions:topic %}
    <ul class="post-actions">
      <li class="quote"><a href="{% url forum_quote_post post.id %}">Reply with quote</a></li>
      {% if user|can_edit_post:post %}
      <li class="edit"><a href="{% url forum_edit_post post.id %}">Edit Post</a></li>
      {% ifnotequal post.num_in_topic 1 %}<li class="delete"><a href="{% url forum_delete_post post.id %}">Delete Post</a></li>{% endifnotequal %}
      {% endif %}
    </ul>
    {% endif %}
    <div class="body">
      <p class="author"><a href="{{ post.get_absolute_url }}">#{{ post.num_in_topic }}</a> by <a href="{% url forum_user_profile post.user_id %}">{{ post.user_username|escape }}</a>, {{ post.posted_at|post_time:user }}</p>
      <div class="content">
      {{ post.body_html }}
      </div>
    </div>
  </div>
  <div class="profile">
    <dl>
      {% if post.user_avatar %}
      <dt class="avatar"><img src="{{ post.user_avatar|escape }}" alt=""{{ avatar_dimensions }}></dt>
      {% endif %}
      <dt class="user"><a href="{% url forum_user_profile post.user_id %}">{{ post.user_username|escape }}</a></dt>
      {% if post.user_title %}
      <dd class="title">{{ post.user_title|escape }}</dd>
      {% endif %}
      <dd class="postcount"><strong>Posts:</strong> {{ post.user_post_count }}</dd>
      <dd class="joined"><strong>Joined:</strong> {{ post.user_date_joined|joined_date }}</dd>
      {% if post.user_location %}
      <dd class="location"><strong>Location:</strong> {{ post.user_location|escape }}</dd>
      {% endif %}
      {% if user|is_moderator and post.user_ip %}
      <dd class="post-ip"><strong>Post IP:</strong> {{ post.user_ip|escape }}</dd>
      {% endif %}
    </dl>
  </div>
</div>
{% endfor %}
</div>
<div class="tools">
{% if is_paginated %}<div class="paginator">{% paginator "Post" %}</div>{% endif %}
{% if user.is_authenticated %}
<div id="topic-actions-bottom" class="actions">
  {% if user|can_see_post_actions:topic %}<a href="{{ urls.add_reply }}">Add Reply</a> |{% endif %}
  <a href="{% url forum_add_topic forum.id %}">New Topic</a>
</div>
{% endif %}
</div>

{% if user.is_authenticated and user|can_see_post_actions:topic %}
<div id="fast-reply"{% if not show_fast_reply %} style="display: none;"{% endif %}>
  <form name="fastReplyForm" id="fastReplyForm" action="{{ urls.add_reply }}" method="POST">
    <fieldset class="module">
      <h2>Fast Reply</h2>
      <div class="fast-reply-field">
        <textarea name="body" rows="10"></textarea>
      </div>
    </fieldset>
    <div id="fast-reply-buttons" class="buttons">
      <input type="submit" name="submit" value="Add Reply">
      <input type="submit" name="preview" value="Preview Post">
    </div>
  </form>
</div>
{% endif %}
{% endblock %}