{% extends "forum/base.html" %}{% load forum_tags %}
{% block extrahead %}{% if is_paginated %}<script type="text/javascript" src="{{ MEDIA_URL }}js/Paginator.js"></script>{% endif %}{% endblock %}
{% block content %}
<h2><a href="{{ forum.get_absolute_url }}">{{ forum.name|escape }}</a></h2>
<h3>{{ topic.title|escape }}</h3>
{% if topic.description %}<p class="description">{{ topic.description|escape }}</p>{% endif %}
{% if is_paginated %}<div class="paginator">{% paginator "Post" %}</div>{% endif %}
{% if user.is_authenticated %}
<div class="topic-actions">
  <a href="{% url forum_add_reply topic.id %}">Add Reply</a>
  <a href="{% url forum_add_topic forum.id %}">New Topic</a>
</div>
{% endif %}
<div class="clear"></div>
{% for post in post_list %}
<div class="post {% cycle odd,even %}" id="post{{ post.id }}">
  <div class="postbody">
    {% if user.is_authenticated %}
    <ul class="post-actions">
      <li class="quote"><a href="{% url forum_quote_post post.id %}">Reply with quote</a></li>
      {% if user|can_edit_post:post %}
      <li class="edit"><a href="{% url forum_edit_post post.id %}">Edit post</a></li>
      <li class="delete"><a href="{% url forum_delete_post post.id %}">Delete post</a></li>
      {% endif %}
    </ul>
    {% endif %}
    <div class="body">
      <p class="author"><a href="{{ post.get_absolute_url }}">#</a> by <a href="{% url forum_user_profile post.user_id %}">{{ post.user_username|escape }}</a>, {{ post.posted_at|post_time }}</p>
      <div class="content">
      {{ post.body_html }}
      </div>
    </div>
  </div>
  <div class="profile">
    <dl>
      {% if post.user_avatar %}
      <dt class="avatar">Avatar:</dt>
      <dd class="avatar"><img src="{{ post.user_avatar|escape }}" alt=""></dt>
      {% endif %}
      <dt class="user">User:</dt>
      <dd class="user"><a href="{% url forum_user_profile post.user_id %}">{{ post.user_username|escape }}</a></dd>
      {% if post.user_title %}
      <dt class="title">Title:</dt>
      <dd class="title">{{ post.user_title|escape }}</dt>
      {% endif %}
      <dt class="postcount">Posts:</dt>
      <dd class="postcount"><strong>Posts:</strong> {{ post.user_post_count }}</dd>
      <dt class="joined">Joined:</dt>
      <dd class="joined"><strong>Joined:</strong> {{ post.user_date_joined|joined_date }}</dd>
      {% if post.user_location %}
      <dt class="location">Location:</dt>
      <dd class="location"><strong>Location:</strong> {{ post.user_location|escape }}</dd>
      {% endif %}
      {% if user|is_moderator and post.user_ip %}
      <dt class="ip">Post IP:</dt>
      <dd class="ip"><strong>Post IP:</strong> {{ post.user_ip|escape }}</dd>
      {% endif %}
    </dl>
  </div>
</div>
{% endfor %}
{% if is_paginated %}<div class="paginator">{% paginator "Post" %}</div>{% endif %}
{% if user.is_authenticated %}
<div class="topic-actions">
  <a href="{% url forum_add_reply topic.id %}">Add Reply</a>
  <a href="{% url forum_add_topic forum.id %}">New Topic</a>
</div>
{% endif %}
<div class="clear"></div>
{% endblock %}