{% extends "base_forum.html" %}{% load forum_tags %}
{% block main_content %}
<div class="col-l">
  <div class="module forum-profile">
  <h2><span class="title">{{ title|escape }}</span>{% if user|can_edit_user_profile:forum_user %}<span class="separator"> - </span><span class="controls"><a href="{% url forum_edit_user_forum_profile forum_user.id %}">Edit</a></span>{% endif %}</h2>
  <table>
  <tbody>
    <tr>
      <th>Avatar</th>
      <td>{% if forum_profile.avatar %}<img src="{{ forum_profile.avatar|escape }}" alt=""{{ avatar_dimensions }}>{% else %}None{% endif %}</td>
    </tr>
    <tr>
      <th>Group</th>
      <td>{{ forum_profile.get_group_display }}</td>
    </tr>
    <tr>
      <th>Title</th>
      <td>{{ forum_profile.title|escape|default:"None" }}</td>
    </tr>
    <tr>
      <th>Posts</th>
      <td>{{ forum_profile.post_count }}</td>
    </tr>
    <tr>
      <th>Joined</th>
      <td>{{ forum_user.date_joined|joined_date }}</td>
    </tr>
    <tr>
      <th>Location</th>
      <td>{% if forum_profile.location %}{{ forum_profile.location|escape }}{% else %}None{% endif %}</td>
    </tr>
    <tr>
      <th>Website</th>
      <td>{% if forum_profile.website %}<a href="{{ forum_profile.website|escape }}">{{ forum_profile.website|escape }}</a>{% else %}None{% endif %}</td>
    </tr>
  </tbody>
  </table>
  </div>

  {% ifequal user.id forum_user.id %}
  <div class="module forum-settings">
  <h2><span class="title">Your Forum Settings</span><span class="separator"> - </span><span class="controls"><a href="{% url forum_edit_user_forum_settings forum_user.id %}">Edit</a></span></h2>
  <table>
  <tbody>
    <tr>
      <th>Timezone</th>
      <td>{{ forum_profile.timezone|escape|default:"None" }}</td>
    </tr>
    <tr>
      <th>Topics Per Page</th>
      <td>{{ forum_profile.topics_per_page|default:"Default" }}</td>
    </tr>
    <tr>
      <th>Posts Per Page</th>
      <td>{{ forum_profile.posts_per_page|default:"Default" }}</td>
    </tr>
    <tr>
      <th>Auto Fast Reply</th>
      <td>{{ forum_profile.auto_fast_reply|yesno:"Yes,No" }}</td>
    </tr>
  </tbody>
  </table>
  </div>
  {% endifequal %}
</div>

<div class="col-r">
<div class="module last-topics-started">
<h2>Most Recent Topics Started</h2>
{% if recent_topics %}
<table>
<thead>
  <tr>
    <th>Topic</th>
    <th>Started</th>
    <th>Posts</th>
    <th>Views</th>
    <th>Last Post</th>
  </tr>
</thead>
<tbody>
{% for topic in recent_topics %}
  <tr class="topic {% cycle odd,even %}">
    <td>
      <a href="{{ topic.get_absolute_url }}">{{ topic.title|escape }}</a>
      {% if topic.description %}<p class="description">{{ topic.description|escape }}</p>{% endif %}
    </td>
    <td>{{ topic.started_at|forum_datetime:user }}</td>
    <td>{{ topic.post_count }}</td>
    <td>{{ topic.view_count }}</td>
    <td>{{ topic.last_post_at|post_time:user }}<br><a href="{% url forum_redirect_to_last_post topic.id %}">Last Post</a> by <a href="{% url forum_user_profile topic.last_user_id %}">{{ topic.last_username|escape }}</a></td>
  </tr>{% endfor %}
</tbody>
</table>
{% else %}
<div class="module-body">
This user has not started any Topics yet.
</div>
{% endif %}
</div>
</div>
{% endblock %}