{% extends "forum/base.html" %}
{% block title %}Log in{% endblock %}
{% block breadcrumbs %}
<a href="{% url forum_index %}">Forums</a>
&raquo; <strong>Log in</strong>
{% endblock %}
{% block main_content %}
<p class="description">If you don't have an account, you can <a href="{% url registration_register %}">sign up</a> for one.</p>
<form method="POST" action="{% if next %}?next={{ next }}{% endif %}">
  {% csrf_token %}
  <div class="module aligned">
    <h2>Log in</h2>
    <div class="form-row">
      {% if form.username.errors %}{{ form.username.html_error_list }}{% endif %}
      <label for="id_username">Username</label>
      <div class="form-field">
        {{ form.username }}
      </div>
    </div>
    <div class="form-row">
      {% if form.password.errors %}{{ form.password.html_error_list }}{% endif %}
      <label for="id_username">Password</label>
      <div class="form-field">
        {{ form.password }}
      </div>
    </div>
    <div class="form-row">
      Forgotten your password? You can <a href="{% url auth_password_reset %}">reset it</a> if you're really stumped.
    </div>
  </div>
  <div class="buttons"><input type="submit" value="Log in"></div>
</form>
{% endblock %}