{% extends "forum/base.html" %}{% load i18n %}
{% block title %}{% trans "Password change" %}{% endblock %}
{% block breadcrumbs %}
<a href="{% url forum_index %}">{% trans "Forums" %}</a>
&raquo; <strong>{% trans "Password change" %}</strong>
{% endblock %}
{% block main_content %}
<p class="description">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
<form method="POST" action=".">
  {% csrf_token %}
  <div class="module aligned">
    <h2>{% trans "Password change" %}</h2>
    <div class="form-row">
      {% if form.old_password.errors %}{{ form.old_password.html_error_list }}{% endif %}
      <label for="id_old_password">{% trans "Old password:" %}</label>
      <div class="form-field">
        {{ form.old_password }}
      </div>
    </div>
    <div class="form-row">
      {% if form.new_password1.errors %}{{ form.new_password1.html_error_list }}{% endif %}
      <label for="id_new_password1">{% trans "New password:" %}</label>
      <div class="form-field">
        {{ form.new_password1 }}
      </div>
    </div>
    <div class="form-row">
      {% if form.new_password2.errors %}{{ form.new_password2.html_error_list }}{% endif %}
      <label for="id_new_password2">{% trans "Confirm password:" %}</label>
      <div class="form-field">
        {{ form.new_password2 }}
      </div>
    </div>
  </div>
  <div class="buttons">
    <input type="submit" value="{% trans "Change my password" %}">
    or
    <a href="{% url forum_user_profile user.id %}">Cancel</a>
  </div>
</div>
</form>
{% endblock %}