{% extends "forum/base.html" %}{% load i18n %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block breadcrumbs %}
<a href="{% url forum_index %}">{% trans "Forums" %}</a>
&raquo; <strong>{% trans "Password reset" %}</strong>
{% endblock %}
{% block main_content %}
<p class="description">{% trans "Forgotten your password? Enter your e-mail address below, and we'll reset your password and e-mail the new one to you." %}</p>
<form action="." method="POST">
  {% csrf_token %}
  <div class="module aligned">
    <h2>{% trans "Password reset" %}</h2>
    <div class="form-row">
      {% if form.email.errors %}{{ form.email.html_error_list }}{% endif %}
      <label for="id_email">{% trans "E-mail address:" %}</label>
      <div class="form-field">
        {{ form.email }}
      </div>
    </div>
  </div>
  <div class="buttons">
    <input type="submit" value="{% trans "Reset my password" %}">
    or
    <a href="{% url auth_login %}">Cancel</a>
  </div>
</div>
</form>
{% endblock %}